In [14]:
import pandas as pd
import numpy as np

customers = pd.DataFrame({
    'customer_id': [1, 2, 3, 4],
    'first_name': ['John', 'Jane', 'John', 'Alice'],
    'last_name': ['Doe', 'Smith', 'Smith', 'Doe'],
    'Address': ['NY', 'CA', 'TX', 'WA']
})

items = pd.DataFrame({
    'item_id': [101, 102, 103, 104],
    'item_name': ['Shirt', 'Pants', 'Hat', 'Shoes'],
    'price': [20, 30, 15, 50],
    'department': ['Apparel', 'Apparel', 'Accessories', 'Footwear']
})

sales = pd.DataFrame({
    'date': pd.to_datetime([
        '2023-03-18', '2023-03-18', '2023-01-15', '2023-01-25',
        '2022-11-20', '2022-08-14', '2023-03-18'
    ]),
    'order_id': [1, 2, 3, 4, 5, 6, 7],
    'item_id': [101, 102, 103, 104, 101, 103, 104],
    'customer_id': [1, 1, 2, 3, 4, 2, 1],
    'quantity': [2, 1, 3, 1, 2, 1, 2],
    'revenue': [40, 30, 45, 50, 40, 15, 100]  # direct revenue (quantity * price)
})

In [15]:
march_18_orders = sales[sales['date'] == '2023-03-18']
total_orders_march_18 = march_18_orders['order_id'].nunique()
print("Orders on March 18, 2023:", total_orders_march_18)

Orders on March 18, 2023: 3

In [16]:
# Merge SALES with CUSTOMERS
sales_with_cust = sales.merge(customers, on='customer_id')
john_doe_orders = sales_with_cust[
    (sales_with_cust['date'] == '2023-03-18') &
    (sales_with_cust['first_name'] == 'John') &
    (sales_with_cust['last_name'] == 'Doe')
]
total_john_doe_orders = john_doe_orders['order_id'].nunique()
print("Orders on March 18 by John Doe:", total_john_doe_orders)

Orders on March 18 by John Doe: 3

In [17]:
jan_sales = sales[sales['date'].dt.month == 1]
jan_sales_grouped = jan_sales.groupby('customer_id')['revenue'].sum()

total_customers_jan = jan_sales_grouped.count()
avg_spend_jan = jan_sales_grouped.mean()
print("Jan Customers:", total_customers_jan, "| Avg Spend:", avg_spend_jan)

Jan Customers: 2 | Avg Spend: 47.5

In [18]:
sales_2022 = sales[sales['date'].dt.year == 2022]
sales_with_items = sales_2022.merge(items, on='item_id')

dept_revenue = sales_with_items.groupby('department')['revenue'].sum()
low_revenue_depts = dept_revenue[dept_revenue < 600]
print("Departments with < $600 revenue in 2022:\n", low_revenue_depts)

Departments with < $600 revenue in 2022:
 department
Accessories    15
Apparel        40
Name: revenue, dtype: int64

In [19]:
order_revenue = sales.groupby('order_id')['revenue'].sum()
max_revenue = order_revenue.max()
min_revenue = order_revenue.min()
print("Most Revenue:", max_revenue, "| Least Revenue:", min_revenue)

Most Revenue: 100 | Least Revenue: 15

In [20]:
most_lucrative_order_id = order_revenue.idxmax()
items_in_lucrative_order = sales[sales['order_id'] == most_lucrative_order_id].merge(items, on='item_id')
print("Items in most lucrative order:\n", items_in_lucrative_order[['order_id', 'item_name', 'quantity', 'revenue']])

Items in most lucrative order:
    order_id item_name  quantity  revenue
0         7     Shoes         2      100